.learning-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem;
    margin: 1rem 0;
    background-color: #0a2368;
  }

  .learning-item__description {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: flex-end;
    flex-flow: column-reverse;
    justify-content: flex-start;
    flex: 1;
  }

  .learning-item h2 {
    color: #3a3a3a;
    font-size: 1rem;
    font-weight: 400;
    flex: 1;
    margin: 0 1rem;
    color: white;
  }

  .learning-item__price {
    font-size: 1rem;
    font-weight: bold;
    color: white;
    background-color: #6a3a80;
    border: 2px solid white;
    padding: 0.5rem;
    border-radius: 12px;
  }

  @media (min-width: 580px) {
    .learning-item__description {
      flex-direction: row;
      align-items: center;
      justify-content: flex-start;
      flex: 1;
    }

    .learning-item__description h2 {
      font-size: 1.25rem;
    }

    .learning-item__price {
      font-size: 1.25rem;
      padding: 0.5rem 1.5rem;
    }
  }